{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        {{ form_label(form.url) }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url) }}
        <button>{{ 'templates.index.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}