{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ 'templates.show.your_link'|trans }} <a href="{{ path('app_redirect', { 'token' : url.getToken() }) }}">{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/r/{{ url.getToken() }}</a>
{% endblock %}