<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block transDefaultDomain %}
        {% trans_default_domain 'messages' %}
    {% endblock %}
    <title>{% block title %}App{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
</head>
<body>
<div class="wrapper">
    {% block wrapper %}
        {% block locale %}
            <div class="locale">
                {% for locale in ['en', 'ru'] %}
                    {% if locale != app.request.locale %}
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                            {{ locale }}
                        </a>
                    {% else %}
                        {{ locale }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock locale %}

        <div class="container">
            {% block body %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        {{ flashMessage|raw }}
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% endblock wrapper %}
</div>

<footer>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>